<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>imdb search</title>
	<script defer type="text/javascript" src="../js/imdb.js"></script>
	

	<style type="text/css">
  		 input {
  		 	margin-top: 100px;
  		 	margin-bottom: 50px;
  		 	margin-left: 250px;
  		 }
  		 img {
  		 	height: 300px;
  		 }
 	</style>
</head>
<body>

<form action="/posters" method="POST">
		<input type="text" name="title" value="write a random word">
		<button action="/movies">Go Riders!!!!</button>
</form>


<p id="question" questionYear= "<%= @year %>" >And guess which one was recorded on <%= @year %></p>

<div>
	
	<%  @movies_onpage.each do |movie| %>


			<img src="<%= movie.poster %>" alt="poster" year="<%= movie.year %>" > 


	<% end %>


</div>
	
</body>
</html>